#canvas {
    border: 2px solid black;
    padding: 20px;
}

#userinput, #original, #adversarial {display: inline-block; *display: inline; zoom: 1; vertical-align: top;}

#userinput {
    font-family:'Lucida Sans';
    /*
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    */
}

#original {
    font-family:'Lucida Sans';
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#adversarial {
    font-family:'Lucida Sans';
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
